// ------ VARIABLES & MIXINS ------

$white: #FCFFF5;
$cream: #D1DBBD;
$green: #91AA9D;
$light-blue: #3E606F;
$dark-blue: #193441;
$success: rgba(89, 211, 73, 0.75);
$red: rgba(255, 52, 52, 0.75);
$gray: #838B8E;
$light-gray: #e5e5e5;

@mixin sexy-emboss($opacity:0.8, $opacity2:0.05) {
    box-shadow: 0 1px 0 rgba(255, 255, 255, $opacity),
                inset 0 1px 0 rgba(0, 0, 0, $opacity2);
}

@mixin sexy-font-shadow($opacity:0.15){
    text-shadow: 0 1px 0 rgba(0, 0, 0, $opacity);
}

// ------ BASICS ------

body {
    background: $cream;
    color: $light-blue;
    vertical-align: top; //not sure about this?
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200; //or 400
    @include sexy-font-shadow();
    @include sexy-emboss();
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.container {
    background-color: $white;
    min-height: 800px;
    @include sexy-emboss();
}

// ------ HEADER & FOOTER-------

.header {
    color: $dark-blue;
    font-size: 28px;
    line-height: 40px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    text-shadow: none;

    div {
        border-bottom: 1px solid $light-gray;
        padding-top: 10px;
        padding-bottom: 15px;
        margin-bottom: 26px;
    }
}

.footer {
    color: $dark-blue;
    margin-top: 26px;
    text-align: right;
    font-size: 14px;
    line-height: 40px;
    font-weight: 200;
    text-shadow: none;

    p {
        border-top: 1px solid $light-gray;
    }
}

// ------ NEW TASK INPUT ------

#create-new-task-container {
    padding: 10px 0;
    margin-bottom: 8px;
    text-align: center;
    background-color: $green;
    border-radius: 8px;
}

#create-new-task-input {
    height: 34px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    border: 0;
    background-color: white;
    padding: 0 10px;
    font-size: 22px;
    @include sexy-emboss();
}

// ------ PRINTED TASKS ------

.printed-task-container {
    padding: 10px;
    margin-bottom: 8px;
    text-align: center;
    background-color: $light-blue;
    border-radius: 8px;
}

.task-side-left {
    width: 75%;
    position: relative;
    display: inline-block;
    margin-left: 0;
    text-align: left;
}

.task-side-right {
    width: 24%;
    position: relative;
    display: inline-block;
    float: right;
}

.task-name {
    p {
        padding: 6px 0;
        margin: 0;
        display: inline-block;
        text-align: left;
        font-size: 26px;
        font-weight: 400;
        color: white;
    }
}

// .task-btns {
//     margin-left: 72px;
//     margin-top: 3px;
//     opacity: 0;
// }

// .btn-mark-completed {
//     display: inline-block;
//     margin: 0 auto;
// }

// .task-wrapper.completed .btn-mark-completed {
//     background-color: $success;
// }

// .task-wrapper.completed .task-p {
//     text-decoration: line-through;
// }

// .btn-trash-task {
//     display: inline-block;
//     margin: 0 auto;

//     &.hovered {
//         background-color: $red;
//     }
// }











